[submodule "modules/midi"]
	path = modules/midi
	url = https://github.com/paradajz/midi-lib.git
[submodule "modules/dbms"]
	path = modules/dbms
	url = https://github.com/paradajz/LESS-DB.git
[submodule "modules/u8g2"]
	path = modules/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "modules/core"]
	path = modules/core
	url = https://github.com/paradajz/core.git
[submodule "modules/EmuEEPROM"]
	path = modules/EmuEEPROM
	url = https://github.com/paradajz/EmuEEPROM.git
